<!DOCTYPE html>
<html lang="english">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Thanos Poulos">
  <meta name="description" content="Building this blog with Pelican | Starting a blog I have been meaning to start a blog for some time now. I actually started one a few years ago using...">
  
  <base href="https://thanospmc.github.io">
  
  <!--
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">  
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  -->
  <!--<link rel="icon" href="https://thanospmc.github.io/images/favicon.ico?v=2" />-->
  
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="https://thanospmc.github.io/theme/css/font.css" type="text/css" media="all">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab:400,700&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Proza+Libre:700" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://thanospmc.github.io/theme/css/style.css" type="text/css" media="all">

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://thanospmc.github.io/theme/js/functions.min.js"></script>

  
 


<meta name="keywords" content="Untagged">


  <title>Building this blog with Pelican</title>

  
</head>

<body class="home blog">
  <div>
    <header class="site-header">
      <nav class="navbar navbar-default" role="navigation" id="navbar">
        <div class="container">
          <div class="row">
            <div class="site-navigation-inner col-sm-12">
              <div class="navbar-header">
                <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul id="menu-all-pages" class="nav navbar-nav">
                <li class="menu-item"><a href="/index.html" >Home
<i class="fa  fa-lg"></i></a></li>
                <li class="menu-item"><a href="/pages/about.html" >About
<i class="fa  fa-lg"></i></a></li>
                <li class="menu-item"><a href="/pages/cases.html" >Cases
<i class="fa  fa-lg"></i></a></li>
                <li class="menu-item"><a href="/pages/publications.html" >Publications
<i class="fa  fa-lg"></i></a></li>
              </ul>
              </div>
              <div class="social">   
                <a href="https://www.linkedin.com/in/thanospoulos/" title="LinkedIn" >
<i class="fa fa-linkedin fa-lg"></i></a>
                <a href="https://twitter.com/ThanosPoulos" title="Twitter" >
<i class="fa fa-twitter fa-lg"></i></a>
                <a href="https://github.com/thanospmc" title="Github" >
<i class="fa fa-github fa-lg"></i></a>
                <a href="mailto:thanos@thanospoulos.org" title="Email" >
<i class="fa fa-envelope fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
      </nav><!-- .site-navigation -->

      <div class="container">
      <div id="logo">
          <div id="web-title">
            Flux Transition
          </div> 
      </div><!-- end of #logo -->
        
    </div>

  </header><!-- #masthead -->
  </div>
    <div id="content" class="site-content">
      <div class="container main-content-area">
        <div class="row">
          <div class="main-content-inner col-sm-12 col-md-12">
            <div id="primary" class="content-area">
              <div id="main" class="site-main" role="main">
                <div class="article-container">
<article>
  <div class="blog-item-wrap">
    <div class="post-inner-content">
      <header class="entry-header page-header">
        <span class="cat-item"><time datetime="2018-08-15 10:10:00+02:00">Wed 15 August 2018</time></span>
        <h1 class="entry-title"><a href="https://thanospmc.github.io/building-this-blog-with-pelican.html">Building this blog with Pelican</a></h1>
      </header><!-- .entry-header -->
      <div class="entry-content">
        <h2>Starting a blog</h2>
<p style="text-align: justify">I have been meaning to start a blog for some time now. I actually started one a few years ago using Tumblr's engine but it was short-lived as I did not know what to do with it. This blog is supposed to be more of a journal that could be used as a way to share things as well.</p>
<h2>Finding Jekyll and Pelican</h2>
<p style="text-align: justify">I decided that this time I wanted to create a blog that I would be able to control rather than use any service that is available online. While following some data science blogs, I saw a few websites created using a static site generator called <a href="https://jekyllrb.com/">Jekyll</a>. What interested me about Jekyll was the availability of themes, such as the gorgeous <a href="http://hyde.getpoole.com/">Hyde</a> theme. However, as soon as I started looking at it, it seems like Jekyll had a few deficiencies, very well presented <a href="https://ihommani.github.io/pelican.html">here</a>, of which all were important to me.</p>
<h2>Getting Started with Pelican</h2>
<p style="text-align: justify">After reading this, I Was sold on <a href="http://docs.getpelican.com">Pelican</a>! Plus, it is written in Python, with which I am more accustomed than Ruby. I was even able to find themes that resembled Hyde, like <a href="http://flex.alxd.me/blog/">Flex</a> and <a href="http://jvanz.com/">hyde</a>. The best thing about Pelican is that it allows for changing themes with very few modifications of the templates. If the theme is well made, only changes in the base HTML file are needed and we are good to go.</p>
<p style="text-align: justify">I got started by following this tutorial by <a href="https://blog.justalfred.com/getting-started-with-pelican-on-github-pages.html">Just Alfred</a> but this only gets you so far. After I chose the <a href="https://github.com/limbenjamin/voce">voce</a> theme, I got to modifying it a bit so that it is more to my taste.</p>
<h2>Modifying the theme</h2>
<p style="text-align: justify">The <strong>voce</strong> theme is easy to understand and well made. Everything about the site is located in the <code>base.html</code> and all other template pages are extensions to the base page. This means that almost all changes are in the base page with minimal changes to all other <code>html</code> files. The overall theme of the website (organization, colour theme, layout) has been kept as it is clean and beautiful. I will focus mostly on the changes on the <code>base.html</code> file since these are the most important while the others are simple HTML or CSS changes.</p>
<p style="text-align: justify">The <strong>voce</strong> theme by default has space in all the pages for a logo instead of a blog title. This is problematic for me for now, as I do not have a logo for my blog. So, using the easy way that Pelican uses to create the website, I added an <em>if</em> statement to add a title instead:</p>
<div class="div.highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">div</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;logo&quot;</span><span class="p">&gt;</span>
    {% if USE_LOGO %}
        <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;site-name&quot;</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;navbar-brand&quot;</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ SITEURL }}&quot;</span><span class="p">&gt;&lt;</span><span class="nt">img</span> <span class="na">width</span><span class="o">=</span><span class="s">&quot;310&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;{{ USER_LOGO_URL }}&quot;</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;attachment-full size-full&quot;</span> <span class="na">alt</span><span class="o">=</span><span class="s">&quot;logo&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span><span class="c">&lt;!-- end of .site-name --&gt;</span>
    {% else %}
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;web-title&quot;</span><span class="p">&gt;</span>
            {{ SITENAME }}
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span> 
    {% endif%}
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span><span class="c">&lt;!-- end of #logo --&gt;</span>
</pre></div>


<p style="text-align: justify">In the code above, I create a new variable <code>USE_LOGO</code> that, if true, will add an image with the logo. Otherwise, it will just add the site name using the <code>SITENAME</code> variable. This variable can be activated and deactivated by changing it to <code>True</code> or <code>False</code> in the <code>pelicanconf.py</code> file.</p>
<p style="text-align: justify">Another thing that I did not particularly like is the tag line at the top of the page. I prefer it at the bottom so all I needed to do what to move appropriate block to the bottom of the base file while at the same time avoiding the tag line effect in CSS by consolidating the two variables, <code>TAGS_URL</code> and <code>ARCHIVES_URL</code>, in one variable <code>TAGS_ARCHIVES_URL</code>. In any case, I would use these at the same time anyway.</p>
<div class="div.highlight"><pre><span></span>{% if TAGS_ARCHIVES_URL %}
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;tagline&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;tagline&quot;</span><span class="p">&gt;</span>
    {% for tag, articles in tags|sort %}
        <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ SITEURL }}/{{ tag.url }}&quot;</span> <span class="err">{{</span> <span class="err">&#39;</span><span class="na">class</span><span class="o">=</span><span class="s">&quot;active&quot;</span><span class="err">&#39;</span> <span class="na">if</span>  <span class="na">output_file </span><span class="o">=</span><span class="s">=</span> <span class="na">tag</span><span class="err">.</span><span class="na">url</span> <span class="err">}}</span><span class="p">&gt;</span>{{ tag }} ({{ articles|count }})<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span> <span class="ni">&amp;#124;</span> 
    {% endfor %}
    <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ SITEURL }}/{{ ARCHIVES_URL }}&quot;</span> <span class="err">{{</span> <span class="err">&#39;</span><span class="na">class</span><span class="o">=</span><span class="s">&quot;active&quot;</span><span class="err">&#39;</span> <span class="na">if</span>  <span class="na">output_file </span><span class="o">=</span><span class="s">=</span> <span class="na">ARCHIVES_URL</span> <span class="err">}}</span><span class="p">&gt;</span>{{ &#39;Archives (&#39;+ articles|count|string + &#39;)&#39; if  articles|count &gt; all_articles|count  else &#39;Archives (&#39; + all_articles|count|string + &#39;)&#39;}}<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
{% endif %}
</pre></div>


<p style="text-align: justify">Finally, I changed the footer by adding the links again. I used another variable <code>REUSE_LINKS</code> which by default will show nothing. Another variable <code>USE_PRIVACY_POLICY</code> is used to add a link to the privacy policy of the page.</p>
<div class="div.highlight"><pre><span></span>{% if REUSE_LINKS %}
    {% for name, link in LINKS %}
        {{ display_link(name, link, name) }}|
    {% endfor %}
{% endif %}
{% if USE_PRIVACY_POLICY %}
    <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ SITEURL }}/pages/privacy-policy&quot;</span><span class="p">&gt;</span>Privacy Policy<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span> 
{% endif %}
</pre></div>


<p style="text-align: justify">That's it! Now I have a page that I can control as I wish! There are a few things that need improvement (like syntax highlighting) but all in all, it was not as hard as I imagined. The code can be found on <a href="https://github.com/thanospmc/fluxtransition">github</a>.</p>
      </div><!-- .entry-content -->
      <br /><br />
      <div class="article_meta">
        Tags:
          <a href="https://thanospmc.github.io/tag/untagged.html">Untagged</a>      </div>
    </div>
  </div>
</article><!-- #post-## -->
                </div>
              </div><!-- #main -->
          </div><!-- #primary -->
        </div>
      </div><!-- close .row -->
          
        
    </div><!-- close .container -->
  </div><!-- close .site-content -->




  <div id="footer-area">
    <footer id="colophon" class="site-footer" role="contentinfo">
      <div class="site-info container">
        <div class="row">
                    <div class="copyright col-md-12">
 
                    <a href="/index.html" >Home
<i class="fa  fa-lg"></i></a>|
                    <a href="/pages/about.html" >About
<i class="fa  fa-lg"></i></a>|
                    <a href="/pages/cases.html" >Cases
<i class="fa  fa-lg"></i></a>|
                    <a href="/pages/publications.html" >Publications
<i class="fa  fa-lg"></i></a>|
                    <a href="https://thanospmc.github.io/pages/privacy-policy">Privacy Policy</a> 
                    <br />
                    Powered by <a href="http://getpelican.com">Pelican</a> using the <a href="https://github.com/limbenjamin/voce">voce</a> theme<br />
                    &copy; 2018 <a href="https://thanospmc.github.io">Thanos Poulos</a> </div>
        </div>
      </div><!-- .site-info -->
      <div class="scroll-to-top" style="display: none;"><i class="fa fa-angle-up"></i></div><!-- .scroll-to-top -->
    </footer><!-- #colophon -->
  </div>

  <script type="text/javascript">
    window.addEventListener('load', function(){
    if (window.location.pathname != '/' && window.location.pathname != '/index.html'){
      window.scroll(0, document.getElementById('main').offsetTop);
    }})
  </script>




</body>
</html>